{% extends 'base.html' %}
{% block title %}Add Post To The Blog{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h1>Add Post</h1>
    <br />
    <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
    <button class="btn btn-secondary">Post</button>
    </div>
    <script>
        var name = "{{ user.id }}";
        document.getElementById("userid").value = name;
    </script>

    {% else %}
    <h2>You're not allowed to access this page</h2>
    {% endif %}
    {% endblock %}
